config.json
rules.json
etc
etc/*
recorded
recorded/*
data
data/*
log
log/*
.nave
.nave/*
.epgdump
.epgdump/*
node
node_modules/dateformat
node_modules/easy-table
node_modules/http-auth
node_modules/oauth
node_modules/opts
node_modules/socket.io
node_modules/xml2js