/config.json
/rules.json
/etc
/etc/*
/recorded
/recorded/*
/data
/data/*
/log
/log/*
/.nave
/.nave/*
/.epgdump
/.epgdump/*
/tmp
/tmp/*
/usr
/usr/*
/node
/node_modules/*
!/node_modules/chinachu-common
