/config.json
/rules.json
/etc
/etc/*
/recorded
/recorded/*
/data
/data/*
/log
/log/*
/.nave
/.nave/*
/.epgdump
/.epgdump/*
/tmp
/tmp/*
/usr
/usr/*
/node
/node_modules/dateformat
/node_modules/easy-table
/node_modules/http-auth
/node_modules/oauth
/node_modules/opts
/node_modules/socket.io
/node_modules/xml2js
/node_modules/.bin
/node_modules/mocha
/node_modules/should
/node_modules/sinon
/node_modules/spdy
/node_modules/mkdirp
