[submodule "web/lib/ace"]
	path = web/lib/ace
	url = git://github.com/ajaxorg/ace-builds.git
[submodule "web/lib/d3"]
	path = web/lib/d3
	url = https://github.com/mbostock/d3
[submodule "web/lib/dc.js"]
	path = web/lib/dc.js
	url = https://github.com/dc-js/dc.js
[submodule "web/lib/crossfilter"]
	path = web/lib/crossfilter
	url = https://github.com/square/crossfilter
