/*!
 * chinachu
**/

/* Override some defaults */
html, body {
	padding         : 0;
	margin          : 0;
	top             : 0;
	right           : 0;
	bottom          : 0;
	left            : 0;
	cursor          : url(pointer.cur), default;
	background-color: rgb(194,65,134);
	-webkit-text-size-adjust: none;
	scrollbar-base-color    : #d67fae; }

body, input {
	font-family     : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
	                  Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

a {
	cursor: pointer; }

div.fullmask {
	z-index            : 20000;
	position           : absolute;
	top                : 0;
	right              : 0;
	bottom             : 0;
	left               : 0;
	background-color   : #000;
	background-color   : rgba(0,0,0,0.5);
	background-repeat  : no-repeat;
	background-position: center center; }

div.fullmask.loading {
	background-image   : url(./loading-circular-d67fae-444444.gif); }

div.fullmask.panic {
	background-image   : none;
	background-color   : rgba(255,0,0,0.5); }

div.fullscreen {
	z-index            : 10;
	position           : absolute;
	top                : 0;
	right              : 0;
	bottom             : 0;
	left               : 0;
	overflow           : hidden;
	padding            : 0 !important;
	margin             : 0; }

/* noscroll */
.noscroll {
	overflow: hidden !important; }

/* muted */
.muted {
	opacity: 0.4 !important; }

/* color */
.color-red    { color: #ff0053 !important; }
.color-orange { color: #ff9700 !important; }
.color-green  { color: #7ab624 !important; }
.color-white  { color: #ffffff !important; }
.color-warning{ color: rgb(191,0,41) !important; }

.color-cat-anime { color: #e04caf !important; }
.color-cat-information { color: #26d49d !important; }
.color-cat-news { color: #6edb21 !important; }
.color-cat-sports { color: #26b3d1 !important; }
.color-cat-variety { color: #d6d91e !important; }
.color-cat-drama { color: #de8a31 !important; }
.color-cat-music { color: #2848d1 !important; }
.color-cat-cinema { color: #6e25db !important; }
.color-cat-etc { color: #888888 !important; }

/* bg (background) */
.bg-green  { background-color: #7ab624 !important; }
.bg-smoke  { background-color: rgba(0,0,0,0.05) !important; }
.bg-warning{ background-color: rgba(191,0,41,0.6) !important; }

.bg-chinachu {
	background-color: rgb(194,65,134); }

.bg-fog {
	background-color: rgba(255,255,255,0.2);
	
	background-image: linear-gradient(top, rgba(252,212,233,0.9), rgba(255,255,255,0.25));
	background-image: -o-linear-gradient(top, rgba(252,212,233,0.9), rgba(255,255,255,0.25));
	background-image: -moz-linear-gradient(top, rgba(252,212,233,0.9), rgba(255,255,255,0.25));
	background-image: -webkit-linear-gradient(top, rgba(252,212,233,0.9), rgba(255,255,255,0.25));
	background-image: -ms-linear-gradient(top, rgba(252,212,233,0.9), rgba(255,255,255,0.25)); }

.bg-dark {
	background-color: #2b2b2b; }
	
.bg-black {
	background-color: #000;
	color: #fff; }

.bg-silver {
	background-color: #ddd; }


.bg-cat-anime { background: #fcbde1 !important; }
.bg-cat-information { background: #bdfce8 !important; }
.bg-cat-news { background: #d7fcbd !important; }
.bg-cat-sports { background: #bdf1fc !important; }
.bg-cat-variety { background: #fbfcbd !important; }
.bg-cat-drama { background: #fce1c4 !important; }
.bg-cat-music { background: #bdc9fc !important; }
.bg-cat-cinema { background: #d6bdfc !important; }
.bg-cat-etc { background: #eeeeee !important; }

div.content-loading {
	z-index         : 100;
	position        : absolute;
	top             : 0;
	right           : 0;
	bottom          : 0;
	left            : 0;
	background-color: #aaa;
	background-color: rgba(0,0,0,0.2); }
	
	div.content-loading > div {
		position        : absolute;
		top             : 50%;
		left            : 50%;
		margin-left     : -51px;
		margin-top      : -5px;
		width           : 100px;
		height          : 8px;
		background-color: #ddd;
		background-color: rgba(255,255,255,0.4);
		border          : 1px solid #fff;
		border-color    : rgba(255,255,255,0.5);
		box-shadow      : -1px -1px 0 rgba(0,0,0,0.1),
		                  -1px 1px 0 rgba(0,0,0,0.1),
		                  1px -1px 0 rgba(0,0,0,0.1),
		                  1px 1px 0 rgba(0,0,0,0.1); }
		
		div.content-loading > div > div {
			height          : 8px;
			background-color: #c24186; }

/**
 *  main styles ----------------------------------------------------------------------------------------------------
**/
/* common */
div.header,
div.middle,
div.footer {
	position        : absolute;
	right           : 0;
	left            : 0;
	margin          : 0;
	padding         : 0;
	/* width           : 100%; */ }

div.header > div,
div.middle > div,
div.footer > div {
	position        : absolute;
	top             : 0;
	right           : 0;
	bottom          : 0;
	left            : 0;
	margin          : 0;
	padding         : 0; }

/* header */
div.header {
	top             : 0;
	height          : 40px;
	color           : #fff;
	
	background-image   : url(./chinachu.png);
	background-repeat  : no-repeat;
	background-position: 10px center;
	padding            : 0 10px 0 50px; }
	
	div.header > a.button-reload {
		border-radius   : 50%;
		width           : 16px;
		height          : 16px;
		margin-right    : 6px;
		padding         : 6px !important;
		border          : none;
		background-color: rgba(255,255,255,0.1);
		box-shadow      : none;
		text-shadow     : none;
		background-position: center center !important;}

	div.header > a.button-reload:hover {
		background-color: rgba(255,255,255,0.3); }

	div.header > a.button-dent {
		padding         : 1px 6px 0 6px;
		line-height     : 39px;
		font-size       : 11px;
		border          : none;
		background-color: transparent;
		box-shadow      : none;
		text-shadow     : none;
		-webkit-transition: all 0.1s ease;
		-moz-transition   : all 0.1s ease;
		-ms-transition    : all 0.1s ease;
		-o-transition     : all 0.1s ease;
		transition        : all 0.1s ease; }
	
		div.header > a.button-dent > span {
			color           : rgba(255,255,255,0.5);
			font-size       : 10px;
			margin-left     : 5px; }
	
	div.header > a.button-dent:hover {
		background-color: rgba(194,65,134,0.5); }
	
	div.header > a.button-dent:first-child {
		margin-left: 0; }
	
	div.header > a.button-dent.sakura-button.sakura-button-icon {
		padding-left       : 23px;
		background-position: 5px center;
		background-repeat  : no-repeat; }
	
	div.header > a.button-dent.sakura-button.sakura-button-selected {
		position        : relative;
		text-shadow     : none !important;
		background-color: rgb(179,0,95);
		color           : #fff;
		box-shadow      : none; }
	
	div.header > a.button-dent.sakura-button.category-search,
	div.header > a.button-dent.sakura-button.category-pref {
		float: right; }

@media screen and (max-width: 680px){
	div.header > a.button-dent.sakura-button.category-search,
	div.header > a.button-dent.sakura-button.category-pref,
	div.header > a.button-dent.sakura-button.category-manual {
		overflow           : hidden;
		width              : 0px;
		white-space        : nowrap;
		background-position: center center;
		text-indent        : 100px; }
}

@media screen and (max-width: 600px){
	div.header > a.button-dent.sakura-button.sakura-button-icon {
		overflow           : hidden;
		width              : 24px;
		padding-left       : 0;
		padding-right      : 0;
		white-space        : nowrap;
		background-position: center center;
		text-indent        : 100px; }
}

@media screen and (max-width: 430px){
	div.header > a.button-action.sakura-button.sakura-button-icon {
		overflow           : hidden;
		width              : 24px;
		padding-left       : 0;
		padding-right      : 0;
		white-space        : nowrap;
		background-position: center center;
		text-indent        : 100px; }
}

@media screen and (max-width: 400px){
	div.header {
		padding-left       : 10px;
		background-image: none; }
	
	div.header > a.button-action.action-logout.sakura-button {
		overflow           : hidden;
		width              : 24px;
		padding-left       : 0;
		padding-right      : 0;
		white-space        : nowrap;
		text-indent        : 100px; }
}

/* middle */
div.middle {
	top             : 40px;
	bottom          : 0;
	background-color: #fff; }
	
	div.middle > div {
		position : absolute; }
	
	div.middle > div.side {
		top      : 0;
		left     : 0;
		bottom   : 0;
		width    : 140px;
		overflow : hidden;
		-webkit-transition: all 0.25s ease 0.25s;
		-moz-transition   : all 0.25s ease 0.25s;
		-ms-transition    : all 0.25s ease 0.25s;
		-o-transition     : all 0.25s ease 0.25s;
		transition        : all 0.25s ease 0.25s; }
	
	div.middle.extend > div.side {
		width    : 40px; }
	
	div.middle.noside > div.side {
		width    : 0; }
		
		div.middle > div.side > div {
			position  : absolute;
			-webkit-transition: all 0.25s ease 0.1s;
			-moz-transition   : all 0.25s ease 0.1s;
			-ms-transition    : all 0.25s ease 0.1s;
			-o-transition     : all 0.25s ease 0.1s;
			transition        : all 0.25s ease 0.1s; }
		
		div.middle > div.side > div.side-body {
			top       : 0;
			right     : 0;
			bottom    : 0;
			left      : 0;
			padding   : 10px 0 10px 10px;
			overflow  : auto;
			overflow-x: hidden;
			overflow-y: auto;
			background: #e0e0e0; }
		
		div.middle.extend > div.side > div.side-body {
			top       : 0;
			padding   : 5px 0; }
			
			div.middle > div.side > div.side-body > a.sakura-button {
				display      : block;
				border       : none;
				background   : transparent no-repeat 10px center;
				text-shadow  : none;
				color        : #777;
				text-align   : right;
				font-size    : 13px;
				padding      : 6px 10px 5px 30px;
				border-left  : 1px solid transparent;
				border-top   : 1px solid transparent;
				border-bottom: 1px solid transparent;
				box-shadow   : none;
				white-space  : nowrap; }
			
			div.middle.extend > div.side > div.side-body > a.sakura-button {
				text-indent  : 50px;
				color        : transparent; }
			
			div.middle > div.side > div.side-body > a.sakura-button:hover {
				color        : black; }
			
			div.middle > div.side > div.side-body > a.sakura-button.sakura-button-selected {
				color            : #2b2b2b;
				background-color : white;
				border           : none; }
	
	div.middle > div.main {
		top      : 0;
		right    : 0;
		bottom   : 0;
		left     : 140px; }
	
	div.middle.extend > div.main {
		left     : 40px; }
	
	div.middle.noside > div.main {
		left     : 0; }
		
		div.middle > div.main > div {
			position: absolute; }
		
		div.middle > div.main > div.main-head {
			z-index   : 5;
			top       : 0;
			right     : 0;
			left      : 0;
			height    : 40px;
			background: rgb(194,65,134);
			color     : #fff;
			overflow  : hidden;
			-webkit-transition: all 0.25s ease 0.25s;
			-moz-transition   : all 0.25s ease 0.25s;
			-ms-transition    : all 0.25s ease 0.25s;
			-o-transition     : all 0.25s ease 0.25s;
			transition        : all 0.25s ease 0.25s; }
		
		div.middle > div.main.nohead > div.main-head {
			height    : 0;
			color     : rgb(194,65,134); }
		
		div.middle > div.main > div.main-head.overline {
			z-index      : 100;
			box-shadow   : 0 4px 0 rgba(0,0,0,0.1); }
			
			div.middle > div.main > div.main-head > div.main-head-title {
				margin: 10px 10px 0 10px; }
				
				div.middle > div.main > div.main-head > div.main-head-title > h1 {
					margin     : 0;
					line-height: 22px;
					font-weight: normal;
					font-size  : 19px; }
					
					div.middle > div.main > div.main-head > div.main-head-title > h1 > span.flag {
						margin-right  : 4px;
						font-size     : 12px;
						background    : rgba(0,0,0,0.1);
						vertical-align: top;
						padding       : 0 2px; }
					
					div.middle > div.main > div.main-head > div.main-head-title > h1 > span.subtitle {
						font-size     : 14px;
						background    : rgba(0,0,0,0.1);
						color         : rgba(255,255,255,0.8);
						vertical-align: top;
						padding       : 0 5px; }
					
					div.middle > div.main > div.main-head > div.main-head-title > h1 > span.episode {
						font-size     : 12px;
						background    : rgba(255,255,255,0.8);
						color         : rgb(194,65,134);
						vertical-align: top;
						padding       : 0 2px; }
					
					div.middle > div.main > div.main-head > div.main-head-title > h1 > span.id {
						font-size     : 12px;
						color         : rgba(255,255,255,0.5);
						vertical-align: top;
						padding       : 0 2px; }
			
			div.middle > div.main > div.main-head > div.main-head-toolbar {
				position  : absolute;
				top       : 0;
				right     : 0;
				bottom    : 0;
				padding   : 10px;
				background: rgb(194,65,134);
				box-shadow: -2px 0 0 rgba(194,65,134,0.7),
				            -4px 0 0 rgba(194,65,134,0.7),
				            -6px 0 0 rgba(194,65,134,0.7); }
				
				div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar {}
				
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > * {
						vertical-align: inherit; }
				
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > hr {
						width  : 0;
						display: inline-block;
						margin : 0 5px;
						padding: 0;
						border : none; }
					
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button {
						border     : none;
						background : transparent no-repeat 5px center;
						font-size  : 13px;
						color      : inherit;
						box-shadow : none;
						line-height: 14px;
						padding    : 2px 5px 1px 5px;
						border     : 2px solid transparent;
						text-shadow: none;
						
						-webkit-transition: background 0.25s ease;
						-moz-transition   : background 0.25s ease;
						-ms-transition    : background 0.25s ease;
						-o-transition     : background 0.25s ease;
						transition        : background 0.25s ease; }
					
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button.day {
						color: rgba(255,255,255,0.7); }
					
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button.selected {
						color: #fff;
						background: rgba(179,0,95,0.25);
						box-shadow: 0 3px 0 rgb(179,0,95); }
					
						div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button > span {
							color         : #aaa;
							font-size     : 10px;
							line-height   : 10px;
							vertical-align: top; }
					
						div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button:hover > span {
							color         : #555; }
					
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button.sakura-button-icon {
						padding-left: 25px; }
				
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button:hover {
						background-color: rgba(0,0,0,0.2);
						color           : #fff; }
				
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button.sakura-button-disabled {
						cursor          : default;
						color           : #aaa;
						opacity         : 0.5; }
				
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button.sakura-button-disabled:hover {
						background-color: transparent; }

@media screen and (max-width: 880px){
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button {
						font-size  : 11px; }
}

@media screen and (max-width: 800px){
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button {
						overflow           : hidden;
						width              : 0px;
						white-space        : nowrap;
						background-position: center center;
						text-indent        : 100px; }
						
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button:hover {
						overflow           : visible;
						width              : auto;
						white-space        : nowrap;
						background-position: 5px center;
						text-indent        : 0; }
}

@media screen and (max-width: 500px){
					div.middle > div.main > div.main-head > div.main-head-toolbar > div.navbar > a.sakura-button-icon {
						padding-left       : 20px !important; }
}
			
			div.middle > div.main > div.main-head > div.clock {
				position        : absolute;
				top             : 6px;
				bottom          : 6px;
				left            : 145px;
				background-color: rgba(0,0,0,0.5);
				font-size       : 18px;
				line-height     : 18px;
				padding         : 6px 10px 4px; }
			
			div.middle > div.main > div.main-head > div.clock::before {
				content         : "";
				top             : 100%;
				left            : 5px;
				position        : absolute;
				border-left     : 3px solid rgba(0,0,0,0.5);
				border-top      : 3px solid rgba(0,0,0,0.5);
				border-right    : 3px solid transparent;
				border-bottom   : 3px solid transparent; }
		
		div.middle > div.main > div.main-body {
			top     : 40px;
			right   : 0;
			bottom  : 0;
			left    : 0;
			overflow: auto;
			-webkit-transition: all 0.25s ease 0.25s;
			-moz-transition   : all 0.25s ease 0.25s;
			-ms-transition    : all 0.25s ease 0.25s;
			-o-transition     : all 0.25s ease 0.25s;
			transition        : all 0.25s ease 0.25s; 
			background-size    : cover;
			background-position: center center;
			background-image   : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVQIHWP4DwABAQEANl9ngAAAAABJRU5ErkJggg==); }
			
		div.middle > div.main.nohead > div.main-body {
			top     : 0; }
		
		div.middle > div.main > div.main-body.overline::after {
			z-index   : 100;
			height    : 4px;
			display   : block;
			content   : "";
			position  : absolute;
			bottom    : 0;
			right     : 0;
			left      : 0;
			background: rgba(0,0,0,0.15); }
		
			div.middle > div.main > div.main-body > div {
				position: absolute;
				top     : 0;
				right   : 0;
				bottom  : 0;
				left    : 0;
				overflow: auto;
				padding : 10px 10px 28px; }
			
			div.middle > div.main > div.main-body > div.loading {
				background: no-repeat center center url(./loading-circular-2b2b2b-ffffff.gif); }
			
			div.middle > div.main > div.main-body > div.failure {
				background: rgba(255,0,0,0.1); }
				
				div.middle > div.main > div.main-body > div > div.program-meta {
					font-size    : 13px;
					margin-bottom: 15px;
					line-height  : 20px;
					color        : #777; }
					
					div.middle > div.main > div.main-body > div > div.program-meta > span.dynamic-time.soon {
						color       : green; }
						
					div.middle > div.main > div.main-body > div > div.program-meta > span.dynamic-time.now {
						color       : red; }
				
				div.middle > div.main > div.main-body > div > div.program-detail {
					font-size    : 16px;
					margin-bottom: 15px;
					line-height  : 25px; }

/* footer */
div.footer {
	z-index         : 10;
	right           : 0;
	bottom          : 0;
	left            : auto;
	height          : auto;
	padding         : 0 10px; }
	
	div.footer > a.sakura-button {
		margin-right    : 5px;
		border          : none;
		display         : block;
		float           : left;
		width           : auto;
		font-size       : 11px;
		line-height     : 15px;
		height          : 15px;
		padding         : 5px 10px;
		background-color: rgba(194,65,134,0.4);
		box-shadow      : none;
		text-shadow     : none }
	
	div.footer > a.sakura-button.sakura-button-icon {
		padding-left    : 25px; }
	
	div.footer > a.sakura-button:hover {
		color           : white;
		background-color: rgba(194,65,134,1); }
	
	div.footer > a.sakura-button.sakura-button-selected {
		color           : white;
		background-color: rgba(194,65,134,1); }

/* hyperform */

.hyperform button.selected {
	border-color    : #000 !important;
	border-color    : rgba(0, 0, 0, 0.5) !important;
	background-color: #c24186 !important; }
	
	.hyperform button.selected > label {
		color: #fff; }

.hyperform div.checkbox {
	margin: 0 0 -2px 0 !important; }

	.hyperform div.checkbox > button {
		margin: 0 5px 2px 0 !important; }

.hyperform div.slider > .slider-base {
	background-image: none !important;
	background-color: #fff !important;
	border-color    : #000 !important; }

.hyperform div.slider > .slider-display {
	color           : #c24186 !important; }
	
	.hyperform div.slider > .slider-base > .slider-fill {
		background-image: none !important;
		background-color: #c24186 !important; }
		
		.hyperform div.slider > .slider-base > .slider-fill > .slider-handle {
			border-color    : #000 !important;
			background-image: none !important;
			background-color: #d67fae !important; }

/* flagrate */

label.flagrate-checkbox > div,
label.flagrate-radio > div {
	border-color    : rgba(179,0,95,0.9); }

label.flagrate-checkbox > input:checked+div,
label.flagrate-radio > input:checked+div {
	background-color: rgb(179,0,95);
	border-color    : rgb(179,0,95); }

div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selected,
div.flagrate-select > div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selecte {
	background-color: rgba(179,0,95,0.25); }

div.flagrate-grid > div > table > tbody > tr:nth-child(odd).flagrate-grid-row-selected {
	background-color: rgba(179,0,95,0.30); }

div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selected:hover,
div.flagrate-select > div.flagrate-grid > div > table > tbody > tr.flagrate-grid-row-selected:hover {
	background-color: rgba(179,0,95,0.35); }

div.flagrate-grid > div > table > tbody > tr:nth-child(odd).flagrate-grid-row-selected:hover {
	background-color: rgba(179,0,95,0.40); }

/* page */

div#content-body > div#content-body-head {
	position  : absolute;
	height    : 25px;
	top       : 0;
	right     : 0;
	left      : 0;
	padding   : 0 10px;
	background: #eee;
	box-shadow: inset 0 1px 0 #fff, 0 0 5px rgba(0,0,0,0.15);
	z-index   : 100; }
	
	div#content-body > div#content-body-head > a {
		display         : block;
		float           : left;
		font-size       : 12px;
		line-height     : 20px;
		padding         : 3px 5px 2px 5px;
		text-decoration : none;
		color           : #555;
		text-shadow     : 0 1px 0 #fff; }
	
	div#content-body > div#content-body-head > a:hover {
		background-color: #fff; }
	
	div#content-body > div#content-body-head > a.selected {
		background-color: #e5e5e5;
		box-shadow      : inset 1px 1px 2px #aaa, inset -1px -1px 2px #aaa;
		color           : black; }
	
	div#content-body > div#content-body-head > a.right {
		float           : right; }
		
		div#content-body > div#content-body-head > a > span {
			margin-left     : 2px;
			font-size       : 10px;
			line-height     : 15px;
			text-shadow     : none;
			color           : #999; }
		
		div#content-body > div#content-body-head > a > .sat {
			color           : blue; }
		
		div#content-body > div#content-body-head > a > .sun {
			color           : red; }
		

div#content-body > div#content-body-results {
	z-index   : 0;
	position  : absolute;
	top       : 25px;
	right     : 0;
	/* right     : 200px; */
	bottom    : 0;
	left      : 0;
	padding   : 10px;
	overflow  : auto; }
	
	div#content-body > div#content-body-results > h2 {
		padding  : 0;
		margin   : 10px 0;
		font-size: 18px;
		font-weight: normal;
		color    : #c24186; }
	
	div#content-body > div#content-body-results > div {
		padding  : 5px;
		margin   : 0 0 1px 20px;
		font-size: 12px;
		cursor   : pointer;
		color    : #333; }
	
	div#content-body > div#content-body-results > div.detail {
		padding  : 5px;
		margin   : 0 0 5px 20px;
		font-size: 12px;
		cursor   : pointer;
		color    : #333; }
	
	div#content-body > div#content-body-results > div:hover {
		background: #eee;
		color     : #c24186; }
		
		div#content-body > div#content-body-results > div > span {
			padding: 0 5px;
			margin : 0 5px 0 0; }
		
		div#content-body > div#content-body-results > div > span.cat,
		div#content-body > div#content-body-results > div > span.stat {
			background: #eee;
			font-size : 10px; }
		
		div#content-body > div#content-body-results > div > span.stat {
			color     : #c24186; }
		
		div#content-body > div#content-body-results > div.reserved > span.stat {
			color     : white;
			background: #c24186; }
		
		div#content-body > div#content-body-results > div.recording > span.stat {
			color     : white;
			background: red; }
		
		div#content-body > div#content-body-results > div > span.pgid {
			font-size : 10px;
			color     : #bbb; }
		
		div#content-body > div#content-body-results > div > span.datetime {
			margin    : 0; }
		
		div#content-body > div#content-body-results > div > span.duration {
			font-size : 10px;
			margin    : 0 5px 0 0;
			padding   : 0; }
		
		div#content-body > div#content-body-results > div > span.by.manual {
			font-size : 10px;
			background: #c24186;
			color     : #fff; }
		
		div#content-body > div#content-body-results > div > span.channel {
			font-size : 10px;
			background: #eee;
			color     : #777; }
			
			div#content-body > div#content-body-results > div > span.channel > span.type {
				color       : #aaa;
				margin-right: 2px; }
		
		div#content-body > div#content-body-results > div:hover > span.channel {
			background: #ddd;
			color     : #c24186; }
		
		div#content-body > div#content-body-results > div > div.desc {
			margin   : 2px 0 0 70px;
			font-size: 12px;
			color    : #777; }

div#content-body > div#content-body-grid {
	z-index   : 0;
	position  : absolute;
	top       : 25px;
	right     : 0;
	bottom    : 0;
	left      : 0;
	padding   : 10px;
	overflow  : auto; }

div#content-body > div#content-body-form {
	z-index   : 0;
	position  : absolute;
	top       : 25px;
	right     : 0;
	bottom    : 0;
	left      : 0;
	padding   : 10px;
	overflow  : auto; }


		
		div#content-body > div#content-body-timetable-header > div {
			position  : relative;
			overflow  : hidden;
			background: rgba(255,255,255,0.8);
			color     : #000;
			height    : 50px;
			padding   : 5px 0 0 0;
			text-align: center;
			width     : 140px;
			cursor    : pointer; }
		
		div#content-body > div#content-body-timetable-header > div:hover {
			color     : orange; }
	
		div#content-body > div#content-body-timetable-header > div.channel-type-GR {
			box-shadow: inset 5px 0 0 rgba(255,160,0,0.7); }
	
		div#content-body > div#content-body-timetable-header > div.channel-type-BS {
			box-shadow: inset 5px 0 0 rgba(21,0,255,0.7); }
	
		div#content-body > div#content-body-timetable-header > div.channel-type-CS {
			box-shadow: inset 5px 0 0 rgba(255,3,0,0.7); }
	
		div#content-body > div#content-body-timetable-header > div.channel-type-EX {
			box-shadow: inset 5px 0 0 rgba(8,255,0,0.7); }
			
			div#content-body > div#content-body-timetable-header > div > .name {
				margin-top : 6px;
				font-size  : 12px;
				font-weight: bold;
				line-height: 20px; }
			
			div#content-body > div#content-body-timetable-header > div > .meta {
				font-size  : 10px;
				line-height: 18px;
				white-space: nowrap; }

div.dashboard-timelist {
	position  : absolute;
	display   : block;
	overflow  : visible;
	margin    : 0; }

div.dashboard-timelist:first-child {
	margin-left: 0; }

div.dashboard-timelist.reserves {
	top       : 0;
	right     : 350px;
	bottom    : 0;
	left      : 0;
	background: #eee; }

div.dashboard-timelist.reserves[rel="3"] {
	top       : 150px; }

div.dashboard-timelist.recording {
	top       : 0;
	right     : 350px;
	height    : 150px;
	left      : 0;
	background: #ffc4d0; }

div.dashboard-timelist.recorded {
	top       : 0;
	right     : 0;
	bottom    : 0;
	width     : 350px;
	box-shadow: inset 2px 0 0 #2b2b2b;
	background: #444; }

/*
div.dashboard-timelist[rel="2"] {
	width     : 40%;
	width     : -webkit-calc((100% - 5px) / 2);
	width     :         calc((100% - 5px) / 2); }

div.dashboard-timelist[rel="3"] {
	width     : 30%;
	width     : -webkit-calc((100% - 10px) / 3);
	width     :         calc((100% - 10px) / 3); }
*/

/*
div.dashboard-timelist[rel="4"] {
	width     : 20%;
	width     : -webkit-calc((100% - 15px) / 4);
	width     :         calc((100% - 15px) / 4); }

*/

/*
@media screen and (max-width: 880px){
div.dashboard-timelist[rel="3"] {
	width     : 40%;
	width     : -webkit-calc((100% - 5px) / 2);
	width     :         calc((100% - 5px) / 2);
	height    : 50%;
	height    : -webkit-calc((100% - 10px) / 2);
	height    :         calc((100% - 10px) / 2);
	margin-bottom: 10px; }

div.dashboard-timelist[rel="3"]:nth-child(3) {
	margin-bottom: 0; }
}

@media screen and (max-width: 600px){
div.dashboard-timelist[rel="2"] {
	width     : 100%;
	height    : 50%;
	height    : -webkit-calc((100% - 15px) / 2);
	height    :         calc((100% - 15px) / 2);
	margin    : 0 0 10px 0; }

div.dashboard-timelist[rel="2"]:last-child {
	margin-bottom: 0; }

div.dashboard-timelist[rel="3"] {
	width     : 100%;
	height    : 30%;
	height    : -webkit-calc((100% - 20px) / 3);
	height    :         calc((100% - 20px) / 3);
	margin    : 0 0 10px 0; }

div.dashboard-timelist[rel="3"]:last-child {
	margin-bottom: 0; }
}
*/
	
	div.dashboard-timelist > div.head {
		position   : absolute;
		top        : 20px;
		right      : 10px;
		left       : 10px;
		z-index    : 5;
		padding    : 0;
		margin     : 0;
		height     : 30px;
		line-height: 20px;
		font-size  : 20px;
		font-weight: normal;
		color      : #444;
		text-shadow: 0 1px 0 white; }
	
	div.dashboard-timelist.recorded > div.head {
		color      : #ddd;
		text-shadow: 0 -1px 0 black; }
	
	div.dashboard-timelist.recording > div.head {
		color      : #ab0022; }
	
	div.dashboard-timelist > div.main {
		position   : absolute;
		padding    : 0 0;
		margin     : 0;
		top        : 50px;
		right      : 10px;
		bottom     : 10px;
		left       : 10px;
		overflow   : visible;
		overflow-y : auto; }
		
		div.dashboard-timelist > div.main > a {
			position       : relative;
			display        : block;
			text-decoration: none;
			word-break     : keep-all;
			white-space    : nowrap;
			line-height    : 16px;
			font-size      : 12px;
			font-weight    : bold;
			padding        : 6px 5px 4px 5px;
			margin         : 0 5px 5px 0;
			overflow       : visible;
			border         : 1px solid transparent;
			color          : rgba(0,0,0,0.8);
			text-shadow    : 0 1px 0 rgba(255,255,255,0.5); }
		
		div.dashboard-timelist.recorded > div.main > a {
			color          : rgba(255,255,255,0.8);
			text-shadow    : 0 -1px 0 rgba(0,0,0,0.5); }
		
		div.dashboard-timelist > div.main > a.skip {
			opacity: 0.4; }
		
		div.dashboard-timelist > div.main > a:hover {
			z-index        : 2;
			background     : rgba(0,0,0,0.25);
			color          : white; }
			
			div.dashboard-timelist > div.main > a > div.title {
				overflow    : hidden;
				margin      : 0 0 4px 0; }
				
				div.dashboard-timelist > div.main > a > div.title > span {
					vertical-align  : top;
					background-color: rgba(0,0,0,0.25);
					font-size       : 10px;
					margin-right    : 2px;
					padding         : 3px 3px 1px;
					text-shadow     : none;
					line-height     : 15px;
					color           : #ddd !important; }
				
				div.dashboard-timelist > div.main > a > div.title > span[rel="新"] {
					color           : #afa !important; }
				
				div.dashboard-timelist > div.main > a > div.title > span[rel="終"] {
					color           : #faa !important; }
				
				div.dashboard-timelist > div.main > a > div.title > span[rel="再"] {
					color           : #aaf !important; }
				
				div.dashboard-timelist > div.main > a:hover > div.title > span {
					background-color: rgba(255,255,255,0.25); }
				
				div.dashboard-timelist > div.main > a > div.title > span.episode {
					background : rgba(255,255,255,0.5);
					padding    : 2px 4px 1px 3px;
					margin-left: 5px;
					text-shadow: none;
					color      : #d02e54 !important;
					font-weight: normal;
					font-size  : 10px; }
			
			div.dashboard-timelist > div.main > a > span.dynamic-time {
				color       : rgba(0,0,0,0.5);
				font-size   : 11px;
				font-weight : normal;
				text-shadow : none; }
				
			div.dashboard-timelist > div.main > a > span.dynamic-time.soon {
				color       : lightgreen; }
				
			div.dashboard-timelist > div.main > a > span.dynamic-time.now {
				color       : orange; }
			
			div.dashboard-timelist > div.main > a > span.channel {
				color       : rgba(0,0,0,0.5);
				margin-left : 10px;
				font-size   : 10px;
				font-weight : normal;
				text-shadow : none; }


@media screen and (min-width: 1000px){
		div.dashboard-timelist.recording > div.main > a,
		div.dashboard-timelist.reserves > div.main > a {
			display        : inline-block;
			width          : 45%;
			width          : -webkit-calc((100% - 45px) / 2);
			width          :         calc((100% - 45px) / 2); }
}

@media screen and (min-width: 1600px){
		div.dashboard-timelist.recording > div.main > a,
		div.dashboard-timelist.reserves > div.main > a {
			display        : inline-block;
			width          : 30%;
			width          : -webkit-calc((100% - 70px) / 3);
			width          :         calc((100% - 70px) / 3); }
}

@media screen and (max-height: 600px){
		div.dashboard-timelist > div.main > a {
			line-height    : 15px;
			font-size      : 11px;
			margin-bottom  : 2px; }
			
			div.dashboard-timelist > div.main > a > div.dynamic-time {
				font-size   : 10px; }
}

div.timetable {
	background: #555; }

div.timetable,
div.timetable * {
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
	-ms-box-sizing     : border-box;
	-o-box-sizing      : border-box;
	box-sizing         : border-box; }

div.timetable > div.board {
	z-index    : 10;
	position   : absolute;
	top        : 0;
	left       : 20px;
	overflow   : visible; }
	
	div.timetable > div.board > div.handline {
		z-index   : 2;
		position  : absolute;
		left      : 0;
		height    : 2px;
		background: rgba(255,0,0,0.5); }
	
	div.timetable > div.board > div.cutline {
		z-index     : 1;
		position    : absolute;
		top         : 0;
		bottom      : 0;
		width       : 0;
		border-right: 1px dashed rgba(255,0,0,0.5); }
	
	div.timetable > div.board > div.rect {
		z-index     : 0;
		position    : absolute;
		background  : #ccc;
		cursor      : pointer;
		box-shadow  : inset 0 0 0 1px rgba(25,25,25,0.2); }
	
	div.timetable > div.board > div.rect:hover {
		box-shadow  : inset 0 0 0 2px rgba(194,65,134,0.4); }
	
	div.timetable > div.board > div.rect.reserved,
	div.timetable > div.board > div.rect.recording {
		background  : red !important; }
	
	div.timetable > div.board > div.rect.reserved:hover,
	div.timetable > div.board > div.rect.recording:hover {
		background  : white !important; }
	
	div.timetable > div.board > div.rect.skip {
		background  : gray !important; }
	
	div.timetable > div.board > div.rect.muted {
		opacity     : 0.5 !important; }
	
	div.timetable > div.board > div.rect.spot {
		z-index     : 1;
		box-shadow  : inset 0 0 0 1px rgba(255,255,255,0.8),
		              0 0 5px rgb(194,65,134); }
		
		div.timetable > div.board > div.rect > div {
			position   : absolute;
			top        : 2px;
			right      : 2px;
			bottom     : 0;
			left       : 2px;
			overflow   : hidden;
			line-height: 1.3em;
			white-space: normal;
			word-break : break-all;
			font-family: "Meiryo UI", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
			             Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
			color      : #444; }
		
			div.timetable > div.board > div.rect > div > h4 {
				margin   : 0 0 2px 0;
				font-size: 12px; }
		
			div.timetable > div.board > div.rect > div > div {
				display: block;
				float: left;
				width: 11px;
				color    : #fff;
				font-size: 10px; }

				div.timetable > div.board > div.rect > div > div > span {
					display: block;
					background-color: rgba(0,0,0,0.4);
					padding: 0 0 1px 0;
					width: 11px;
					text-align: center;
					margin-bottom: 1px; }

				div.timetable > div.board > div.rect > div > div > span.新 {
					background-color: #4cc915; }

				div.timetable > div.board > div.rect > div > div > span.再 {
					background-color: #6198ff; }

				div.timetable > div.board > div.rect > div > div > span.終 {
					background-color: #ff6161; }
		
			div.timetable > div.board > div.rect > div > span {
				display: block;
				margin-left: 12px;
				color    : rgba(0,0,0,0.7);
				font-size: 11px; }

			div.timetable > div.board > div.rect:hover > div > h4 {
				color      : #000; }
		
			div.timetable > div.board > div.rect.reserved:not(:hover) > div > span,
			div.timetable > div.board > div.rect.recording:not(:hover) > div > span {
				color      : rgba(255,255,255,0.8); }
		
			div.timetable > div.board > div.rect.reserved:hover > div > h4,
			div.timetable > div.board > div.rect.recording:hover > div > h4 {
				color      : red; }
		
		div.timetable > div.board > div.rect.reserved > div,
		div.timetable > div.board > div.rect.recording > div {
			color      : white; }
		
		div.timetable > div.board > div.rect.recording > div {
			font-weight: bold; }
		
		div.timetable > div.board > div.rect.skip:hover > div {
			color      : gray;
			text-shadow: none; }
	
	div.drawer > div.head {
		padding   : 5px 10px;
		background: rgba(255,255,255,0.9);
		margin    : 0 0 10px 0;
		text-align: center; }
		
		div.drawer > div.head > div.date {
			text-align : center;
			font-family: "Arial Black", Gadget, sans-serif;
			font-size  : 18px;
			line-height: 20px;
			color      : #222; }
			
			div.drawer > div.head > div.date > small {
				font-size  : 12px;
				color      : #777;
				margin-left: 2px;
				line-height: 15px; }
		
		div.drawer > div.head > span.dynamic-time,
		div.drawer > div.head > span.channel {
			color    : #777;
			font-size: 10px; }
	
	div.drawer > div.body {
		overflow   : auto;
		word-break : break-all;
		white-space: normal;
		background : rgba(0,0,0,0.2);
		text-align : left;
		color      : #ccc;
		font-family: "Meiryo UI", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
		             Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
		
		div.drawer > div.body > div.title {
			font-size  : 14px;
			font-weight: bold;
			margin     : 0 0 5px 0;
			color      : white; }
			
			div.drawer > div.body > div.title > span[class*="bg-cat-"] {
				font          : 10px normal "arial";
				color         : rgba(0,0,0,0.7);
				margin-right  : 2px;
				vertical-align: middle;
				border-radius : 1px;
				padding       : 0 2px; }
		
		div.drawer > div.body > div.detail {
			margin     : 0 0 5px 0; }
		
		div.drawer > div.body > div.id {
			font-size  : 10px;
			color      : #aaa;
			font-family: Arial, Helvetica, sans-serif; }
	
	div.drawer > div.foot {
		margin: 10px 0 0 0; }
		
		div.drawer > div.foot > button {
			display: block;
			width  : 100%; }

div.timetable > div.head {
	z-index   : 98;
	position  : fixed;
	top       : 80px;
	left      : 20px;
	height    : 30px;
	padding-right: 2px;
	overflow  : visible; }
	
	div.timetable > div.head > div {
		position   : absolute;
		color      : #bbb;
		font-size  : 12px;
		font-weight: bold;
		cursor     : pointer;
		overflow   : hidden;
		top        : 0;
		bottom     : 0;
		padding-top: 3px;
		line-height: 2em;
		background : rgba(25,25,25,0.7);
		box-shadow : 4px 0 0 rgba(25,25,25,0.7); }
	
	div.timetable > div.head > div:hover {
		color      : #fff; }

div.timetable > div.timescale {
	z-index   : 99;
	position  : relative;
	width     : 20px;
	height    : auto;
	padding   : 0 10px;
	overflow  : hidden;
	background: #444;
	box-shadow: inset 1px 0 0 #222, -2px 0 0 rgba(0,0,0,0.1), inset -2px 0 0 #333; }
	
	div.timetable > div.timescale > button {
		position   : absolute;
		left       : 0;
		width      : 100%;
		height     : 25px;
		padding    : 0;
		font-size  : 10px; }
	
	div.timetable > div.timescale > button.prev {
		top: 0; }
	
	div.timetable > div.timescale > button.next {
		bottom: 0; }
	
	div.timetable > div.timescale > div {
		position   : absolute;
		margin-top : 97px;
		left       : 1px;
		font-size  : 10px;
		font-family: monospace;
		line-height: 10px; }
	
	div.timetable > div.timescale > div.long {
		width      : 15px;
		padding    : 4px 2px 4px 2px;
		color      : #fff;
		box-shadow : inset 0 2px 0 #000; }
	
	div.timetable > div.timescale > div.middle {
		height     : 1px;
		width      : 10px;
		border-top : 1px solid #222;
		background : white; }
	
	div.timetable > div.timescale > div.short {
		height     : 1px;
		width      : 5px;
		border-top : 1px solid #333;
		background : white; }

	div.timetable > div.timescale > div.h18,
	div.timetable > div.timescale > div.h19,
	div.timetable > div.timescale > div.h20,
	div.timetable > div.timescale > div.h21,
	div.timetable > div.timescale > div.h4,
	div.timetable > div.timescale > div.h5 {
		border-color: #06f;
		background  : #06f; }
	
	div.timetable > div.timescale > div.h6,
	div.timetable > div.timescale > div.h7,
	div.timetable > div.timescale > div.h8,
	div.timetable > div.timescale > div.h9,
	div.timetable > div.timescale > div.h10 {
		border-color: #0cf;
		background  : #0cf; }
	
	div.timetable > div.timescale > div.h11,
	div.timetable > div.timescale > div.h12,
	div.timetable > div.timescale > div.h13,
	div.timetable > div.timescale > div.h14 {
		border-color: #f90;
		background  : #f90; }
	
	div.timetable > div.timescale > div.h15,
	div.timetable > div.timescale > div.h16,
	div.timetable > div.timescale > div.h17 {
		border-color: #f30;
		background  : #f30; }
	
	div.timetable > div.timescale > div.h22,
	div.timetable > div.timescale > div.h23,
	div.timetable > div.timescale > div.h0,
	div.timetable > div.timescale > div.h1,
	div.timetable > div.timescale > div.h2,
	div.timetable > div.timescale > div.h3 {
		border-color: #63c;
		background  : #63c; }

tr.disabled > td {
	opacity         : 0.4; }

td.id > div {
	color      : #aaa;
	font-size  : 11px; }

td.default > div {
	color     : #aaa;
	font-style: italic;
	font-size : 11px; }

td.types > div > span {
	padding      : 0 3px;
	font-size    : 11px;
	margin-right : 2px;
	color        : #eee;
	border-radius: 2px; }

td.types > div > span.GR { background-color: #930; }
td.types > div > span.BS { background-color: #03c; }
td.types > div > span.CS { background-color: #f00; }
td.types > div > span.EX { background-color: #222; }

td.categories > div > span {
	padding      : 0 2px;
	font-size    : 11px;
	margin-right : 2px;
	border-radius: 2px; }

td > div > div.dynamic-time {
	line-height: inherit; }

td > div > span.flag {
	margin-right: 2px;
	padding     : 1px 2px 0;
	color       : #fff;
	font-size   : 11px;
	background  : #999; }

td > div > span.flag.manual {
	background  : #000; }

td > div > span.flag.新 {
	background  : #6ed02e; }

td > div > span.flag.終 {
	background  : #d02e54; }

td > div > span.flag.再 {
	background  : #2a45c0; }

td > div > span.subtitle {
	margin-left : 4px;
	padding     : 1px 2px 0;
	color       : #e95295;
	font-size   : 11px;
	font-weight : bold; }

td > div > span.episode {
	margin-left    : 2px;
	padding        : 1px 2px 0;
	color          : #d02e54;
	font-size      : 11px; }

td > div > span.id {
	margin-left    : 4px;
	color          : #aaa;
	font-size      : 10px; }

.flagrate-modal > div > div {
	max-width: 500px; }

div.video-container {
	position        : absolute;
	top             : 0px;
	right           : 0px;
	bottom          : 44px;
	left            : 0px;
	background-color: #000; }
	
	div.video-container > * {
		width : 100%;
		height: 100%; }

div.video-control {
	z-index         : 11;
	position        : absolute;
	right           : 0;
	bottom          : 0;
	left            : 0;
	padding         : 10px 20px 10px;
	text-align      : center; }
	
	div.video-control .seek {
		width: -webkit-calc(100% - 470px) !important;
		width: -moz-calc(100% - 470px) !important;
		width: -ms-calc(100% - 470px) !important;
		width: calc(100% - 470px) !important; }

div.console {
	position   : absolute;
	top        : 0;
	right      : 0;
	bottom     : 0;
	left       : 0;
	overflow-y : scroll;
	font-size  : 11px;
	font-family: "Courier New", Courier, monospace;
	padding    : 10px;
	background : #2b2b2b;
	color      : #ccc; }

div.editor {
	position   : absolute;
	top        : 0;
	right      : 0;
	bottom     : 0;
	left       : 0; }