/*!
 * chinachu
**/

/* Override some defaults */
html, body {
	padding         : 0;
	margin          : 0;
	top             : 0;
	right           : 0;
	bottom          : 0;
	left            : 0;
	background-color: #fff; }

body, input {
	font-family     : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
	                  Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

a {
	cursor: pointer; }

/* Color */
.color-red {
	color: #ff6e88 !important; }

.color-green {
	color: #7bfa5a !important; }

.color-orange {
	color: #faae5a !important; }

/* Background */
.bg-chinachu {
	background-color: #d67fae;
	
	background-image: linear-gradient(bottom, rgb(214,127,173) 100%, rgb(194,65,134) 0%);
	background-image: -o-linear-gradient(bottom, rgb(214,127,173) 100%, rgb(194,65,134) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(214,127,173) 100%, rgb(194,65,134) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,127,173) 100%, rgb(194,65,134) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(214,127,173) 100%, rgb(194,65,134) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(214,127,173)),
		color-stop(0, rgb(194,65,134))
	); }

.bg-dark {
	background-color: #2b2b2b; }

.bg-silver {
	background-color: #ddd; }

div#loading {
	position           : absolute;
	top                : 0;
	right              : 0;
	bottom             : 0;
	left               : 0;
	z-index            : 200;
	background-color   : #000;
	background-color   : rgba(0,0,0,0.5);
	background-repeat  : no-repeat;
	background-position: center center;
	background-image   : url(loading.gif); }

header {
	position: absolute;
	top     : 0;
	right   : 0;
	left    : 0;
	height  : 40px;
	padding : 0;
	overflow: hidden;
	z-index : 100; }
	
	header > div {
		position           : absolute;
		top                : 0;
		right              : 0;
		bottom             : 0;
		left               : 0;
		background-color   : #d67fae;
		background-image   : url(./chinachu.png);
		background-repeat  : no-repeat;
		background-position: 10px center;
		padding            : 0 10px 0 50px;
		border-bottom      : 1px solid #c24186; }
		
		header > div > ul {
			display    : inline-block;
			margin     : 0;
			padding    : 0;
			font-weight: normal;
			color      : #fff;
			text-shadow: 0 -1px 0 #ad3777;
			list-style : none; }
		
		header > div > ul.right {
			float: right; }
			
			header > div > ul > li {
				float      : left;
				margin-left: 0;
				font-size  : 12px;
				line-height: 39px; }
			
			header > div > ul > li:first-child {
				margin-left: 0; }
			
				header > div > ul > li > a {
					display        : block;
					padding        : 1px 10px 0 10px;
					cursor         : pointer;
					color          : #eee;
					color          : rgba(255,255,255,0.85);
					text-decoration: none; }
				
				header > div > ul > li > a:hover {
					color          : #fff; }
				
				header > div > ul > li > a.selected {
					color          : #fff;
					background     : #c24186; }
					
					header > div > ul > li > a > span {
						font-size      : 10px;
						color          : #fff;
						background     : #c24186;
						margin-left    : 2px;
						padding        : 0 2px;
						border-radius  : 2px;
						vertical-align : top;
						text-shadow    : none; }
					
					header > div > ul > li > a.selected > span {
						background     : #d67fae; }

section {
	position: absolute;
	padding : 0;
	margin  : 0;
	z-index : 50;
	top     : 40px;
	right   : 0;
	bottom  : 20px;
	left    : 0;
	overflow: hidden; }
	
	section > div#content-loading {
		z-index         : 100;
		position        : absolute;
		top             : 0;
		right           : 0;
		bottom          : 0;
		left            : 0;
		background-color: #aaa;
		background-color: rgba(0,0,0,0.2); }
		
		section > div#content-loading > div {
			position        : absolute;
			top             : 50%;
			left            : 50%;
			margin-left     : -51px;
			margin-top      : -5px;
			width           : 100px;
			height          : 8px;
			background-color: #ddd;
			background-color: rgba(255,255,255,0.4);
			border          : 1px solid #fff;
			border-color    : rgba(255,255,255,0.5); }
			
			section > div#content-loading > div > div {
				height          : 8px;
				background-color: #c24186; }
	
	section > div.program-view{
		z-index         : 200;
		position        : absolute;
		top             : 0;
		right           : 0;
		bottom          : 0;
		left            : 0;
		background-color: #fff;
		background-size : cover;
		background-position: center center;
		background-image: none; }
	
	section > div.program-view.black {
		background-color: #111; }
		
		section > div.program-view > a.program-view-close-button {
			position        : absolute;
			top             : 20px;
			left            : 20px;
			line-height     : 25px;
			font-size       : 25px;
			display         : block;
			cursor          : pointer;
			color           : #555;
			z-index         : 100; }
		
		section > div.program-view > a.program-view-close-button:hover {
			color           : #c24186; }
		
		section > div.program-view > div.main {
			position        : absolute;
			top             : 10px;
			left            : 10px;
			right           : 220px;
			bottom          : 10px;
			padding         : 10px;
			line-height     : 25px;
			color           : #555;
			text-shadow     : 0 1px 0 #fff;
			overflow        : auto;
			background-color: rgba(255,255,255,0.8); }
		
		section > div.program-view.black > div.main {
			background-color: rgba(0,0,0,0.8); }
			
			section > div.program-view > div > h1 {
				margin          : 0 0 10px 0;
				padding         : 0;
				font-size       : 20px;
				font-weight     : normal;
				color           : #2b2b2b;
				line-height     : 27px; }
			
			section > div.program-view > div > h2 {
				margin          : 0 0 10px 0;
				padding         : 0;
				font-size       : 16px;
				color           : #2b2b2b;
				line-height     : 25px; }
			
			section > div.program-view > div > div.meta {
				margin          : 0 0 10px 0;
				padding         : 0;
				font-size       : 14px;
				color           : #2b2b2b;
				line-height     : 20px; }
				
				section > div.program-view > div > div.meta > small {
					color           : #777; }
			
			section > div.program-view > div > p {
				margin          : 0 0 10px 0; }
				
				section > div.program-view > div > p a {
					color           : #c24186;
					text-decoration : underline; }
				
				section > div.program-view > div > p a:hover {
					text-decoration : none; }
			
			section > div.program-view > div dl {
				font-size  : 12px;
				line-height: 18px; }
				
				section > div.program-view > div dl > dt {
					clear       : left;
					float       : left;
					margin      : 0 0 5px;
					width       : 140px;
					border-left : 2px solid #d67fae;
					padding-left: 8px; }
				
				section > div.program-view > div dl > dd {
					margin      : 0 0 5px 150px;
					font-family : monospace; }
		
		section > div.program-view > div.sub {
			position        : absolute;
			top             : 10px;
			right           : 10px;
			bottom          : 10px;
			padding         : 10px;
			width           : 190px;
			line-height     : 25px;
			color           : #555;
			overflow        : auto;
			background-color: rgba(255,255,255,0.5); }
		
		section > div.program-view.black > div.sub {
			background-color: rgba(0,0,0,0.5); }
			
			section > div.program-view > div.sub > a {
				display         : block;
				line-height     : 25px;
				color           : #c24186;
				background-color: #f1d4e3;
				margin-bottom   : 1px;
				padding         : 2px 10px 1px 10px;
				text-decoration : none;
				font-size       : 12px; }
			
			section > div.program-view > div.sub > a:hover {
				color           : #f1d4e3;
				background-color: #c24186; }
		
		section > div.program-view.black > div {
			color           : #ddd; }
			
			section > div.program-view.black > div > h1,
			section > div.program-view.black > div > h2 {
				color           : #fff; }
			
			section > div.program-view.black > div > .meta {
				color           : #ccc; }
	
	section > div#content-toolbar {
		background-color: #444; }
	
	section > div#content-body {
		position: absolute;
		top     : 0;
		right   : 0;
		bottom  : 0;
		left    : 0;
		padding : 0;
		overflow: auto; }

footer {
	position: absolute;
	right   : 0;
	bottom  : 0;
	left    : 0;
	height  : 20px;
	padding : 0;
	margin  : 0;
	overflow: hidden;
	z-index : 100; }
	
	footer > div {
		position        : absolute;
		top             : 0;
		right           : 0;
		bottom          : 0;
		left            : 0;
		background-color: #444;
		padding         : 0 10px;
		border-top      : 1px solid #2b2b2b; }
		
		footer > div > p {
			margin     : 0;
			line-height: 20px;
			font-size  : 12px;
			font-weight: normal;
			color      : #bbb;
			text-shadow: 0 1px 0 #000; }
		
		footer > div > p.right {
			float: right; }
			
			footer > div > p > a {
				text-decoration: none;
				color          : #709cff; }
			
			footer > div > p > a:hover {
				color          : #fff; }

/* hypermodal */
div.hypermodal-footer .hypermodal-button {
	border-radius   : 0 !important;
	padding         : 3px 9px 2px 9px !important;
	background-image: none !important;
	box-shadow      : inset 0 -30px 0 rgba(255,255,255,0.2) !important;
	border          : 2px solid rgba(0,0,0,0.2) !important; }

div.hypermodal-footer .hypermodal-button:hover {
	box-shadow      : inset 0 0 0 rgba(255,255,255,0.2) !important;
	border          : 2px solid rgba(0,0,0,0.8) !important; }

div.hypermodal-footer .hypermodal-button-disabled,
div.hypermodal-footer .hypermodal-button-disabled:hover {
	box-shadow      : inset 0 -30px 0 rgba(0,0,0,0.3) !important;
	border          : 2px solid rgba(0,0,0,1) !important; }

.hypermodal-button-color-pink {
	background-color: #d67fae !important; }

div.hypermodal > div {
	right     : 0;
	left      : 0;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease; }
	
	div.hypermodal > div > div {
		border-radius: 0;
		border       : none;
		box-shadow   : 0 0 30px rgba(0,0,0,0.4); }

div.hypermodal div.hypermodal-header {
	background-color: transparent;
	color           : #c24186;
	border-radius   : 0; }
	
	div.hypermodal div.hypermodal-header > p {
		color           : #777; }

div.hypermodal div.hypermodal-content {
	border: none !important; }

div.hypermodal > div > div > div.hypermodal-footer {
	background-color: transparent;
	border          : none;
	border-radius   : 0; }

/* hyperform */

.hyperform button.selected {
	border-color    : #000 !important;
	border-color    : rgba(0, 0, 0, 0.5) !important;
	background-color: #c24186 !important; }
	
	.hyperform button.selected > label {
		color: #fff; }

.hyperform div.checkbox {
	margin: 0 0 -2px 0 !important; }

	.hyperform div.checkbox > button {
		margin: 0 5px 2px 0 !important; }

.hyperform div.slider > .slider-base {
	background-image: none !important;
	background-color: #fff !important;
	border-color    : #000 !important; }

.hyperform div.slider > .slider-display {
	color           : #c24186 !important; }
	
	.hyperform div.slider > .slider-base > .slider-fill {
		background-image: none !important;
		background-color: #c24186 !important; }
		
		.hyperform div.slider > .slider-base > .slider-fill > .slider-handle {
			border-color    : #000 !important;
			background-image: none !important;
			background-color: #d67fae !important; }

/* hypergrid */
.chinachu-hypergrid-multiline {
	 }

table.hypergrid tr.disabled > td {
	background-color: rgba(255,0,0,0.1); }

/* page */

div#content-body > div#content-body-head {
	position  : absolute;
	height    : 25px;
	top       : 0;
	right     : 0;
	left      : 0;
	padding   : 0 10px;
	background: #eee;
	box-shadow: inset 0 1px 0 #fff, 0 0 5px rgba(0,0,0,0.15);
	z-index   : 100; }
	
	div#content-body > div#content-body-head > a {
		display         : block;
		float           : left;
		font-size       : 12px;
		line-height     : 20px;
		padding         : 3px 5px 2px 5px;
		text-decoration : none;
		color           : #555;
		text-shadow     : 0 1px 0 #fff; }
	
	div#content-body > div#content-body-head > a:hover {
		background-color: #fff; }
	
	div#content-body > div#content-body-head > a.selected {
		background-color: #e5e5e5;
		box-shadow      : inset 1px 1px 2px #aaa, inset -1px -1px 2px #aaa;
		color           : black; }
	
	div#content-body > div#content-body-head > a.right {
		float           : right; }
		
		div#content-body > div#content-body-head > a > span {
			margin-left     : 2px;
			font-size       : 10px;
			line-height     : 15px;
			text-shadow     : none;
			color           : #999; }
		
		div#content-body > div#content-body-head > a > .sat {
			color           : blue; }
		
		div#content-body > div#content-body-head > a > .sun {
			color           : red; }
		

div#content-body > div#content-body-results {
	z-index   : 0;
	position  : absolute;
	top       : 25px;
	right     : 0;
	/* right     : 200px; */
	bottom    : 0;
	left      : 0;
	padding   : 10px;
	overflow  : auto; }
	
	div#content-body > div#content-body-results > h2 {
		padding  : 0;
		margin   : 10px 0;
		font-size: 18px;
		font-weight: normal;
		color    : #c24186; }
	
	div#content-body > div#content-body-results > div {
		padding  : 5px;
		margin   : 0 0 1px 20px;
		font-size: 12px;
		cursor   : pointer;
		color    : #333; }
	
	div#content-body > div#content-body-results > div.detail {
		padding  : 5px;
		margin   : 0 0 5px 20px;
		font-size: 12px;
		cursor   : pointer;
		color    : #333; }
	
	div#content-body > div#content-body-results > div:hover {
		background: #eee;
		color     : #c24186; }
		
		div#content-body > div#content-body-results > div > span {
			padding: 0 5px;
			margin : 0 5px 0 0; }
		
		div#content-body > div#content-body-results > div > span.cat,
		div#content-body > div#content-body-results > div > span.stat {
			background: #eee;
			font-size : 10px; }
		
		div#content-body > div#content-body-results > div > span.stat {
			color     : #c24186; }
		
		div#content-body > div#content-body-results > div.reserved > span.stat {
			color     : white;
			background: #c24186; }
		
		div#content-body > div#content-body-results > div.recording > span.stat {
			color     : white;
			background: red; }
		
		div#content-body > div#content-body-results > div > span.pgid {
			font-size : 10px;
			color     : #bbb; }
		
		div#content-body > div#content-body-results > div > span.datetime {
			margin    : 0; }
		
		div#content-body > div#content-body-results > div > span.duration {
			font-size : 10px;
			margin    : 0 5px 0 0;
			padding   : 0; }
		
		div#content-body > div#content-body-results > div > span.by.manual {
			font-size : 10px;
			background: #c24186;
			color     : #fff; }
		
		div#content-body > div#content-body-results > div > span.channel {
			font-size : 10px;
			background: #eee;
			color     : #777; }
			
			div#content-body > div#content-body-results > div > span.channel > span.type {
				color       : #aaa;
				margin-right: 2px; }
		
		div#content-body > div#content-body-results > div:hover > span.channel {
			background: #ddd;
			color     : #c24186; }
		
		div#content-body > div#content-body-results > div > div.desc {
			margin   : 2px 0 0 70px;
			font-size: 12px;
			color    : #777; }

div#content-body > div#content-body-grid {
	z-index   : 0;
	position  : absolute;
	top       : 25px;
	right     : 0;
	bottom    : 0;
	left      : 0;
	padding   : 10px;
	overflow  : auto; }

div#content-body > div#content-body-form {
	z-index   : 0;
	position  : absolute;
	top       : 25px;
	right     : 0;
	bottom    : 0;
	left      : 0;
	padding   : 10px;
	overflow  : auto; }

div#content-body > div#content-body-timescale {
	z-index   : 150;
	position  : absolute;
	height    : 20px;
	right     : 0;
	bottom    : 0;
	left      : 0;
	padding   : 0 10px;
	overflow  : hidden;
	background: #eee;
	box-shadow: inset 0 1px 0 #fff, 0 0 10px rgba(0,0,0,0.15), inset 0 -2px 0 #ccc; }
	
	div#content-body > div#content-body-timescale > div {
		position   : absolute;
		margin-left: 150px;
		top        : 1px; }
	
	div#content-body > div#content-body-timescale > div.timescale-long {
		height    : 10px;
		padding   : 5px 0 0 2px;
		border-left: 1px solid #aaa;
		font-size : 10px;
		font-family: monospace;
		color     : #777;
		box-shadow: inset 1px 0 0 #fff; }
	
	div#content-body > div#content-body-timescale > div.timescale-middle {
		height    : 10px;
		border-left: 1px solid #ccc;
		box-shadow: 1px 0 0 #fff; }
	
	div#content-body > div#content-body-timescale > div.timescale-short {
		height    : 5px;
		border-left: 1px solid #ccc;
		box-shadow: 1px 0 0 #fff; }
	
	div#content-body > div#content-body-timescale > div.timescale-pointer {
		height    : 10px;
		padding   : 5px 0 0 2px;
		border-left: 1px solid #444;
		font-size : 10px;
		font-family: monospace;
		margin-left: 0; }

div#content-body > div#content-body-timeline-header {
	z-index   : 100;
	position  : absolute;
	top       : 25px;
	bottom    : 20px;
	left      : 0;
	width     : 140px;
	overflow  : hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: transparent;
	padding-bottom: 10px; }
		
		div#content-body > div#content-body-timeline-header > div {
			position  : relative;
			overflow  : hidden;
			background: rgba(255,255,255,0.8);
			color     : #000;
			height    : 50px;
			padding   : 5px 0 0 0;
			text-align: center;
			width     : 140px;
			cursor    : pointer; }
		
		div#content-body > div#content-body-timeline-header > div:hover {
			color     : orange; }
	
		div#content-body > div#content-body-timeline-header > div.channel-type-GR {
			box-shadow: inset 5px 0 0 rgba(255,160,0,0.7); }
	
		div#content-body > div#content-body-timeline-header > div.channel-type-BS {
			box-shadow: inset 5px 0 0 rgba(21,0,255,0.7); }
	
		div#content-body > div#content-body-timeline-header > div.channel-type-CS {
			box-shadow: inset 5px 0 0 rgba(255,3,0,0.7); }
	
		div#content-body > div#content-body-timeline-header > div.channel-type-EX {
			box-shadow: inset 5px 0 0 rgba(8,255,0,0.7); }
			
			div#content-body > div#content-body-timeline-header > div > .name {
				margin-top : 6px;
				font-size  : 12px;
				font-weight: bold;
				line-height: 20px; }
			
			div#content-body > div#content-body-timeline-header > div > .meta {
				font-size  : 10px;
				line-height: 18px;
				white-space: nowrap; }

div#content-body > div#content-body-timeline {
	position  : absolute;
	top       : 25px;
	right     : 0;
	bottom    : 20px;
	left      : 0;
	padding   : 0;
	overflow  : hidden;
	cursor    : url(pointer.cur), default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; }


		div#content-body > div#content-body-timeline > div {
				position  : relative;
				overflow  : visible;
				background: #d5d5d5;
				box-shadow: inset 0 1px 0 #ccc, inset 0 -1px 0 #ccc, 0 1px 0 #eee;
				margin-top: 5px;
				height    : 50px;
				padding   : 0 10px 0 150px; }

		div#content-body > div#content-body-timeline > div:last-child {
				margin-bottom: 5px; }

				div#content-body > div#content-body-timeline > div > div {
						position   : absolute;
						top        : 0;
						bottom     : 0;
						margin-left: 150px;
						overflow   : hidden;
						background : white;
						color      : #333;
						box-shadow : inset -1px 0 0 rgba(0,0,0,0.1);
						border-top : 1px solid rgba(0,0,0,0.2);
						border-bottom: 1px solid rgba(0,0,0,0.2);
						font-size  : 10px; }

				div#content-body > div#content-body-timeline > div > div.cat-anime {
						background-color: #fcbde1; }

				div#content-body > div#content-body-timeline > div > div.cat-information {
						background-color: #bdfce8; }

				div#content-body > div#content-body-timeline > div > div.cat-news {
						background-color: #d7fcbd; }

				div#content-body > div#content-body-timeline > div > div.cat-sports {
						background-color: #bdf1fc; }

				div#content-body > div#content-body-timeline > div > div.cat-variety {
						background-color: #fbfcbd; }

				div#content-body > div#content-body-timeline > div > div.cat-drama {
						background-color: #fce1c4; }

				div#content-body > div#content-body-timeline > div > div.cat-music {
						background-color: #bdc9fc; }

				div#content-body > div#content-body-timeline > div > div.cat-cinema {
						background-color: #d6bdfc; }

div#content-body.dashboard {
	padding: 10px; }
	
	div#content-body.dashboard > ul {
		list-style-type: none;
		padding        : 0;
		margin         : 0; }
		
		div#content-body.dashboard > ul > li {
			position            : relative;
			background-color    : #000;
			background-color    : rgba(0,0,0,0.5);
			background-position : center center;
			background-repeat   : repeat;
			width               : 320px;
			height              : 180px;
			margin              : 0 10px 10px 0;
			float               : left;
			box-shadow          : 0 0 10px #c24186; }
			
			div#content-body.dashboard > ul > li > div.head,
			div#content-body.dashboard > ul > li > div.foot {
				position  : absolute;
				right     : 0;
				left      : 0;
				background: #555;
				background: rgba(0,0,0,0.4);
				color     : #fff;
				font-size : 13px;
				padding   : 5px 10px; }
			
			div#content-body.dashboard > ul > li > div.head {
				top       : 0;}
			
			div#content-body.dashboard > ul > li > div.foot {
				bottom    : 0; }
				
				div#content-body.dashboard > ul > li > div.head > span,
				div#content-body.dashboard > ul > li > div.foot > span {
					float     : right;
					font-size : 12px;
					margin-top: 1px;
					color     : #ccc; }
					
					div#content-body.dashboard > ul > li > div.head > span > a,
					div#content-body.dashboard > ul > li > div.foot > span > a {
						color          : #c2d5ff;
						text-decoration: none; }
					
					div#content-body.dashboard > ul > li > div.head > span > a:hover,
					div#content-body.dashboard > ul > li > div.foot > span > a:hover {
						color          : #fff; }
			
			div#content-body.dashboard > ul > li > div.jump {
				position  : absolute;
				top       : 5px;
				right     : 5px;
				left      : 5px;
				font-size : 11px; }
				
				div#content-body.dashboard > ul > li > div.jump > a {
					display         : block;
					text-decoration : none;
					text-align      : right;
					color           : #fff;
					padding         : 5px;
					text-shadow     : 0 -1px 0 #c24186, 1px 0 0 #c24186, 0 1px 0 #c24186, -1px 0 0 #c24186; }
				
				div#content-body.dashboard > ul > li > div.jump > a:hover {
					background-color: rgba(0,0,0,0.5);
					color           : #fff; }
			
			div#content-body.dashboard > ul > li > div.list {
				position  : absolute;
				top       : 35px;
				right     : 5px;
				bottom    : 5px;
				left      : 5px;
				font-size : 10px;
				overflow  : auto; }
				
				div#content-body.dashboard > ul > li > div.list > a {
					display         : block;
					text-decoration : none;
					color           : #ddd;
					padding         : 5px; }
				
				div#content-body.dashboard > ul > li > div.list > a:hover {
					background-color: rgba(0,0,0,0.5);
					color           : #fff; }
					
					div#content-body.dashboard > ul > li > div.list > a > span.time {
						color           : #bbb;
						padding-right   : 5px; }
					
					div#content-body.dashboard > ul > li > div.list > a > span.channel {
						float           : right;
						color           : #bbb;
						padding-right   : 5px; }
				
				div#content-body.dashboard > ul > li > div.list > div.hl {
					display         : block;
					text-decoration : none;
					color           : #fff;
					padding         : 5px;
					font-size       : 12px;
					background-color: rgba(0,0,0,0.3);
					margin-bottom   : 1px; }


